body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footerhome{
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;  
  background:#6cf;
}

.body-home{
  background-image: url("../images/Background-75.png");
}

body{
  margin: 0px;
}

.jumbotron{
  position: absolute;
  bottom:100px;
  right:50px;
}

.indexpagetitle{
  padding-top: 50px;
}

#bootstrap-over-ride.page-header{
  margin: 6px 0 10px !important;
}

