
<div class="container">
    
    <div class="row">
        <div class="col-6 indexpagetitle">
            <h1>Powerbox</h1>
        </div>
        <div class="col-6">
        </div>
    </div>

    <div class="jumbotron loginbox">
        <div class="container">

            {{> home/error }}
            {{> home/loginbox }}

            

        </div>
    </div>

</div>